{% extends 'base.html.twig' %}

{% block title %}{{ "Sub-Category"|trans }}
  -
  {{ sub_category.subEntityName }}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="m-3 row">
      <div class="col-sm-12 col-md-12 user-details p-2">
        <div class="user-info-block">
          <div class="user-heading">
            <h3>{{ sub_category.subEntityName }}</h3>
          </div>
          <ul class="navigation nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#information">
                <span class="fas fa-info"></span>
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#events">
                <span class="fas fa-calendar"></span>
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#settings">
                <span class="fas fa-cog"></span>
              </a>
            </li>
          </ul>
          <div class="user-body">
            <div class="tab-content">
              <div id="information" class="tab-pane active">
                <h4>{{ "Sub-Category Information"|trans }}</h4>
                <div class="row">
                  <div class="col-md-10">
                    <table class="table">
                      <tbody>
                        <tr>
                          <th>{{ "Sub-Category Name"|trans }}</th>
                          <td>{{ sub_category.subEntityName }}</td>
                        </tr>
                        <tr>
                          <th>{{ "Description"|trans }}</th>
                          <td>{{ sub_category.subCategoryDescription }}</td>
                        </tr>
                        <tr>
                          <th>{{ "Category"|trans }}</th>
                          <td>{{ sub_category.category.categoryName }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div id="settings" class="tab-pane">
                <div class="row">
                  <div class="col-md-10">
                    <table class="table">
                      <tbody>
                        <tr>
                          <th>{{ "Enabled"|trans }}</th>
                          <td>{{ sub_category.enabled ? 'Yes' : 'No' }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div id="events" class="tab-pane">
                <div class="row">
                  <div class="col-md-10">
                    <table class="table">
                      <tbody>
                        <tr>
                          <th>{{ "Created at"|trans }}</th>
                          <td>{{ sub_category.createdAt ? sub_category.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                        <tr>
                          <th>{{ "Updated at"|trans }}</th>
                          <td>{{ sub_category.updatedAt ? sub_category.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 center">
      <div class="col-md-12 d-flex justify-content-center">
        {% if is_granted("ROLE_ADMIN") %}
          <a class="btn btn-info btn-md" href="{{ path('sub_category_edit', {'id': sub_category.id}) }}">{{ "Edit"|trans }}</a>
          {{ include('Admin/Inventory/sub_category/_delete_form.html.twig') }}
        {% endif %}
      </div>
      <a class="btn btn-primary btn-lg float-left" href="{{ path('inventory_index') }}">{{ "Back to list"|trans }}</a>
    </div>
  </div>
  <hr class="m-1"/>
{% endblock %}
