{% extends 'base.html.twig' %}

{% block title %}{{ "New User"|trans }}{% endblock %}

{% block content %}
    <h1>{{ "Create a new user"|trans }}</h1>

    {{ include('admin/Community/user/_form.html.twig') }}

    <a href="{{ path('user_index') }}">{{ "Back to list"|trans }}</a>
{% endblock %}
