{% extends 'base.html.twig' %}

{% block title %}{{ "Edit Profile"|trans }}
{% endblock %}

{% block content %}
  {% if is_granted('ROLE_ADMIN')%}
    {{ include('Admin/Community/profile/_form.html.twig', {'button_label': 'Update'}) }}
  {% else %}
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <span>
        <strong>{{ "You are not Administrator! You are not allowed to access !"|trans }}</strong>
      </span>
    </div>
  {% endif %}
  <a class="btn btn-primary btn-lg" href="{{ path('community_index') }}">{{ "Back to list"|trans }}</a>
  <a class="btn btn-dark btn-md" href="{{ path('profile_show', {'id': profile.id}) }}">{{ "Back to Profile"|trans }}</a>
{% endblock %}
