{% extends 'base.html.twig' %}

{% block title %}{{ "Stock"|trans }}
  -
  {{ stock.stockName }}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="m-3 row">
      <div class="col-sm-12 col-md-12 user-details p-2">
        <div class="user-info-block">
          <div class="user-heading">
            <h1 class="showViewTitle">{{ stock.stockName }}</h1>
          </div>
          <ul class="navigation nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#information">
                <span class="fas fa-info"></span>
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#subItems">
                <span class="fas fa-clipboard-list"></span>
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#events">
                <span class="fas fa-calendar"></span>
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#settings">
                <span class="fas fa-cog"></span>
              </a>
            </li>
          </ul>
          {% if stock.mainStock == true %}
            <span class="float-left badge badge-success badge-lg">{{ "Main Stock"|trans }}</span>
          {% endif %}
          <div class="user-body">
            <div class="tab-content">
              <div id="information" class="tab-pane active">
                <h4>{{ "Stock Information"|trans }}</h4>
                <div class="row">
                  <div class="col-md-10">
                    <table class="table">
                      <tbody>
                        <tr>
                          <th>{{ "Stock Name"|trans }}</th>
                          <td>{{ stock.stockName }}</td>
                        </tr>
                        <tr>
                          <th>{{ "Main Stock"|trans }}</th>
                          <td>{{ stock.mainStock ? 'Yes' : 'No' }}</td>
                        </tr>
                        <tr>
                          <th>{{ "Items In Stock"|trans }}</th>
                          <td>{{ stock.subItems.count }}</td>
                        </tr>
                        <tr>
                          <th>{{ "Description"|trans }}</th>
                          <td>{{ stock.stockDescription }}</td>
                        </tr>
                        <tr>
                          <th>{{ "Location"|trans }}</th>
                          <td>{{ stock.location }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div id="subItems" class="tab-pane">
                <div class="row">
                  <div class="col-md-12 mt-0">
                    <input type="search" class="form-control input-search" id="input-search" placeholder="{{ "Search Items"|trans }}...">
                  </div>
                  <div class="col-md-10 searchable-container ">
                    <table class="table">
                      <tbody>
                        <th class="center">{{ "Items in the Stock"|trans }}</th>
                        {% for subItem in stock.subiTems %}
                            <tr class="items">
                                <td>{{ subItem.subItemName }}</td>
                                <td>{{ subItem.subItemDescription }}</td>
                                <td>
                                    <a class="nav-link" href="{{ path('sub_item_show', {'id': subItem.id}) }}">show</a>
                                    <a class="nav-link" href="{{ path('sub_item_edit', {'id': subItem.id}) }}">edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="8">{{ "There is nothing in this stock"|trans }}</td>
                            </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div id="settings" class="tab-pane">
                <div class="row">
                  <div class="col-md-10">
                    <table class="table">
                      <tbody>
                        <tr>
                          <th>{{ "Linked Status List "|trans }}</th>
                          <td><span class="badge badge-{{ stock.status.statusType }}">{{ stock.status.statusName }}</span></td>
                        </tr
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div id="events" class="tab-pane">
                <div class="row">
                  <div class="col-md-10">
                    <table class="table">
                      <tbody>
                        <tr>
                          <th>{{ "Created at"|trans }}</th>
                          <td>{{ stock.createdAt ? stock.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                        <tr>
                          <th>{{ "Updated at"|trans }}</th>
                          <td>{{ stock.updatedAt ? stock.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 center">
      <div class="col-md-12 d-flex justify-content-center">
        {% if is_granted("ROLE_ADMIN") %}
          <a class="btn btn-info btn-md" href="{{ path('stock_edit', {'id': stock.id}) }}">{{ "Edit"|trans }}</a>
          {{ include('Admin/Inventory/stock/_delete_form.html.twig') }}
        {% endif %}
      </div>
    </div>
  </div>
  <hr class="m-1"/>
  <a class="btn btn-primary btn-lg float-left" href="{{ path('inventory_index') }}">{{ "Back to list"|trans }}</a>
{% endblock %}
