<!-- Card -->
<div class="card">
  <!-- Card body -->
  <div class="card-body">
    {{ form_start(form) }}
    {{ form_widget(form._token) }}
    {% if not form.vars.valid %}
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <span>
          <strong>{{ form_errors(form) }}</strong>
        </span>
      </div>
    {% endif %}

    <form>
      <div class="row">
        <div class="col-sm-12">
          <h1 class="showViewTitle center">{{ "Edit my Profile"|trans }}</h1>
          <hr>
        </div>
        <div class="col-md-6">
          <div class="md-form">
            <i class="fa fa-user prefix grey-text"></i>
            {{ form_errors(form.username) }}
            {{ form_widget(form.username, {'attr': {'id': 'username', 'name': 'username', 'class': 'form-control', 'aria-label': 'Large', 'aria-describedby': 'inputGroup-sizing-sm' }}) }}
            <label for="username" class="font-weight-light">{{ "Username"|trans }}</label>
          </div>
          <div class="md-form">
            <i class="fa fa-envelope prefix grey-text"></i>
            {{ form_errors(form.email) }}
            {{ form_widget(form.email, {'attr': {'id': 'email', 'type': 'email', 'email': 'username', 'class': 'form-control', 'aria-label': 'Large', 'aria-describedby': 'inputGroup-sizing-sm' }}) }}
            <label for="email" class="font-weight-light">{{ "Email"|trans }}</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="md-form  p-1  m-1 ">
            {{ form_errors(form.profile) }}
            {{ form_widget(form.profile, {'attr': {'id': 'profile', 'name': 'profile', 'class': 'border-top md-form-control', 'aria-label': 'Large'}}) }}
          </div>
        </div>
        {{ form_rest(form) }}
        <div class="text-center mt-3">
          <button class="btn btn-green center" type="submit">{{ button_label|default('Save') }}</button>
        </div>
      </div>
    </form>
    {{ form_end(form) }}
    {% if is_granted('ROLE_ADMIN') %}
      <div class="float-right">
        {{ include('Admin/Community/user/_delete_form.html.twig') }}
      </div>
    {% endif %}
  </div>
  <!-- Card body -->
</div>
