{% extends 'base.html.twig' %}

{% block title %}{{ "Edit User"|trans }}{% endblock %}

{% form_theme form _self %}

{% block _user_profile_profile_widget %}

<div class="row">
  <div class="col-md-6">
    <!-- Material input text -->
    <div class="md-form">
      <i class="fa fa-user prefix grey-text"></i>
      {{ form_errors(form.profileName) }}
      {{ form_widget(form.profileName, {'attr': {'id': 'profileName', 'name': 'profileName', 'class': 'form-control', 'aria-label': 'Large', 'aria-describedby': 'inputGroup-sizing-sm' }}) }}
      <label for="profileName" class="font-weight-light">{{ "Profile Name"|trans }}</label>
    </div>
    <div class="md-form">
      <i class="fa fa-user prefix grey-text"></i>
      {{ form_errors(form.firstName) }}
      {{ form_widget(form.firstName, {'attr': {'id': 'firstName', 'name': 'firstName', 'class': 'form-control', 'aria-label': 'Large', 'aria-describedby': 'inputGroup-sizing-sm' }}) }}
      <label for="firstName" class="font-weight-light">{{ "Firstname"|trans }}</label>
    </div>
    <div class="md-form">
      <i class="fa fa-user prefix grey-text"></i>
      {{ form_errors(form.lastName) }}
      {{ form_widget(form.lastName, {'attr': {'id': 'lastName', 'name': 'lastName', 'class': 'form-control', 'aria-label': 'Large', 'aria-describedby': 'inputGroup-sizing-sm' }}) }}
      <label for="lastName" class="font-weight-light">{{ "Lastname"|trans }}</label>
    </div>
  </div>
  <div class="col-md-6">
    <!-- Material input email -->
    <div class="md-form">
      <i class="fa fa-envelope prefix grey-text"></i>
      {{ form_errors(form.email) }}
      {{ form_widget(form.email, {'attr': {'id': 'email', 'type': 'email', 'name': 'email', 'class': 'form-control', 'aria-label': 'Large', 'aria-describedby': 'inputGroup-sizing-sm' }}) }}
      <label for="email" class="font-weight-light">{{ "Email"|trans }}</label>
    </div>
    <div class="md-form">
      <i class="fa fa-phone prefix grey-text"></i>
      {{ form_errors(form.phone) }}
      {{ form_widget(form.phone, {'attr': {'id': 'phone', 'name': 'phone', 'class': 'form-control', 'aria-label': 'Large', 'aria-describedby': 'inputGroup-sizing-sm' }}) }}
      <label for="phone" class="font-weight-light">{{ "Phone"|trans }}</label>
    </div>
    <div class="md-form  p-1  m-1 center">
      <label class="form-check-label p-2" for="team">{{ "Team"|trans }}</label>
      {{ form_errors(form.team) }}
      {{ form_widget(form.team, {'attr': {'id': 'team', 'name': 'team', 'class': 'p-3 m-1', 'aria-label': 'Large'}}) }}
    </div>
  </div>
</div>

{% endblock %}

{% block content %}
  {% if user.id == app.user.id  or is_granted('ROLE_ADMIN')%}
    {{ include('Community/user/_form.html.twig', {'button_label': 'Update'}) }}
  {% else %}
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <span>
      <strong>{{ "This is not your profile! You are not allowed to edit this profile !"|trans }}</strong>
    </span>
  </div>
  {% endif %}
    <a class="btn btn-primary btn-lg" href="{{ path('community_index') }}">{{ "Back to list"|trans }}</a>
    <a class="btn btn-dark btn-md" href="{{ path('user_show', {'id': user.id}) }}">{{ "Back to Profile"|trans }}</a>
{% endblock %}
