{% extends 'base.html.twig' %}

{% block title %}{{ "User Index Card View"|trans }}
{% endblock %}


{% block content %}
  <div id="accordion">
    <div id="subMenu" class="card">
      <div class="card-header" id="headingOne">
        <button class="btn btn-light btn-outline-primary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Dashboard
          <i class="fas fa-tachometer-alt"></i>
        </button>
        <a class="m-20 btn btn-light btn-md p-2" href="#user-card-list" alt="center to card list">
          {{ "Go to Cards"|trans }}
          <i class="fas fa-arrow-alt-circle-down fa-2x"></i>
        </a>
        <a class="btn btn-light btn-sm p-2" href="{{ path('user_index') }}" alt="Users List View">{{ "List View"|trans }}
          <i class="fas fa-list-ul fa-2x"></i>
        </a>
        {% if is_granted("ROLE_ADMIN") %}
          <a class="btn btn-primary btn-lg" href="{{ path('admin_user_new') }}">{{ "Create new User"|trans }}</a>
        {% endif %}
        <a class="btn btn-success btn-md" href="{{ path('user_edit', {'id': app.user.id}) }}">{{ "Edit my Profile"|trans }}</a>
      </div>
      <h1 class="text-muted text-uppercase center">{{ "Community Center"|trans }}</h1>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="widget">
                  <div class="widget-heading clearfix">
                    <div class="pull-left">{{ "Users in Database"|trans }}</div>
                    <div class="pull-right">
                      <i class="fas fa-users"></i>
                      100<sup>%</sup>
                    </div>
                  </div>
                  <div class="widget-body clearfix">
                    <div class="pull-left">
                      <i class="fas fa-users"></i>
                    </div>
                    <div class="pull-right number">250</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="widget">
                  <div class="col-head-green widget-heading clearfix">
                    <div class="pull-left">{{ "Users Enabled"|trans }}</div>
                    <div class="pull-right">
                      <i class="fas fa-users"></i>
                      80<sup>%</sup>
                    </div>
                  </div>
                  <div class="col-body-green widget-body clearfix">
                    <div class="pull-left">
                      <i class="fas fa-thumbs-up"></i>
                    </div>
                    <div class="pull-right number">200</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="widget">
                  <div class="col-head-red widget-heading clearfix">
                    <div class="pull-left">{{ "Users Restricted"|trans }}</div>
                    <div class="pull-right">
                      <i class="fas fa-users"></i>
                      10<sup>%</sup>
                    </div>
                  </div>
                  <div class="col-body-red widget-body clearfix">
                    <div class="pull-left">
                      <i class="fas fa-thumbs-down"></i>
                    </div>
                    <div class="pull-right number">25</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section id="user-card-list" class="mainContent pb-5">
    <div class="container">
      <h5 class="section-title h1">{{ "User Card View"|trans }}</h5>
      <div class="row">
        {% for user in users %}
          <!-- Team member -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
              <div class="mainflip">
                <div class="frontside">
                  <div class="card">
                    <div class="card-body text-center">
                      <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p>
                      <h4 class="card-title">{{ user.username }}</h4>
                      <p class="card-text">{{ user.firstName }}
                        {{ user.lastName }}
                      </p>
                      <a class="btn btn-warning btn-md m-1" href="{{ path('user_show', {'id': user.id}) }}">{{ "Show"|trans }}</a>
                      {% if is_granted("ROLE_SUPER_ADMIN") %}
                        <a class="btn btn-info btn-sm m-1" href="{{ path('admin_user_edit', {'id': user.id}) }}">{{ "Edit"|trans }}</a>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <div class="backside">
                  <div class="card">
                    <div class="card-body text-center mt-4">
                      <h4 class="card-title">{{ user.username }}</h4>
                      <p class="card-text">{{ user.firstName }}
                        {{ user.lastName }}</p>
                      <p class="card-text">{{ user.email }}</p>
                      <p class="card-text">{{ user.phone }}</p>
                      <p class="card-text">{{ user.roles|join(', ') }}</p>
                      <p class="card-text">{{ user.phone }}</p>
                      <p>
                        {{ "Created at"|trans }}
                        <span class="badge badge-info badge-pill">{{ user.CreatedAt ? user.CreatedAt|date('Y-m-d H:i:s') : '' }}</span>
                      </p>
                      <p>
                        {{ "Updated at"|trans }}
                        <span class="badge badge-warning badge-pill">{{ user.UpdatedAt ? user.UpdatedAt|date('Y-m-d H:i:s') : '' }}</span>
                      </p>
                      <p>
                        {{ "Enabled"|trans }}
                        <span class="badge badge-warning badge-pill">{{ user.enabled ? 'Yes' : 'No' }}</span>
                      </p>
                      <p>
                        {{ "Restricted"|trans }}
                        <span class="badge badge-warning badge-pill">{{ user.restricted ? 'Yes' : 'No' }}</span>
                      </p>
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <a class="btn btn-warning btn-md m-1" href="{{ path('user_show', {'id': user.id}) }}">{{ "Show"|trans }}</a>
                        </li>
                        {% if is_granted("ROLE_SUPER_ADMIN") %}
                          <li class="list-inline-item">
                            <a class="btn btn-info btn-sm m-1" href="{{ path('admin_user_edit', {'id': user.id}) }}">{{ "Edit"|trans }}</a>
                          </li>
                        {% endif %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ./Team member -->
        {% else %}
          <div class="alert alert-danger" role="alert">
            {{ "No User found"|trans }}
          </div>
        {% endfor %}

      </div>
    </div>
  </section>
{% endblock %}
