{% extends 'base.html.twig' %}

{% block title %}{{ "Edit password"|trans }}
{% endblock %}

{% block content %}
  <div class="container-fluid row  d-flex justify-content-center center p-5">
    <div class="col-md-4">
      <div class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">{{ "Please choose a new password"|trans }}</h1>
        {{ form_start(form) }}
        {{ form_label(form.password.first)}}
        {{ form_widget(form.password.first,
            {'attr': {'class': 'form-control','placeholder': 'Password', 'autofocus': 'autofocus' }}) }}
        {{ form_label(form.password.second)}}
        {{ form_widget(form.password.second,
            {'attr': {'class': 'form-control','placeholder': 'Confirm Password', 'autofocus': 'autofocus' }}) }}

        <button class="btn btn-lg btn-success btn-block p-4 mt-4" type="submit">{{ "Change my password"|trans }}</button>
        {{ form_end(form) }}
      </div>
    </div>
    <div class="col-md-12">
      <a class="btn btn-primary btn-lg float-left" href="{{ path('user_index') }}">{{ "Back to list"|trans }}</a>
      <a class="btn btn-dark btn-md float-left" href="{{ path('user_show', {'id': user.id}) }}">{{ "Back to Profile"|trans }}</a>
    </div>
  </div>

{% endblock %}
