{% extends 'base.html.twig' %}

{% block title %}{{ "Edit password"|trans }}
{% endblock %}

{% block content %}
  <div class="container-fluid row  d-flex justify-content-center center p-5">
    {% if user.id == app.user.id  or is_granted('ROLE_ADMIN')%}
      <div class="col-md-4">
        <div class="form-signin">
          <h1 class="h3 mb-3 font-weight-normal">{{ "Please choose a new password for "|trans }} {{ user.username }}</h1>
          {{ form_start(form) }}
          {{ form_label(form.password.first)}}
          {{ form_widget(form.password.first,
            {'attr': {'class': 'form-control','placeholder': 'Password', 'autofocus': 'autofocus' }}) }}
          {{ form_label(form.password.second)}}
          {{ form_widget(form.password.second,
            {'attr': {'class': 'form-control','placeholder': 'Confirm Password', 'autofocus': 'autofocus' }}) }}

          <button class="btn btn-lg btn-success btn-block p-4 mt-4" type="submit">{{ "Change Password"|trans }}</button>
          {{ form_end(form) }}
        </div>
      </div>
    {% else %}
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <span>
          <strong>{{ "This is not your profile! You are not allowed to edit this profile !"|trans }}</strong>
        </span>
      </div>
    {% endif %}
    <div class="col-md-12">
      <a class="btn btn-primary btn-lg float-left" href="{{ path('user_index') }}">{{ "Back to list"|trans }}</a>
      <a class="btn btn-dark btn-md float-left" href="{{ path('user_show', {'id': user.id}) }}">{{ "Back to Profile"|trans }}</a>
    </div>
  </div>

{% endblock %}
