<!-- Card -->
<div class="card">
  <!-- Card body -->
  <div class="card-body">
    {{ form_start(form) }}
    {{ form_widget(form._token) }}
    {% if not form.vars.valid %}
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <span>
          <strong>{{ form_errors(form) }}</strong>
        </span>
      </div>
    {% endif %}
    <!-- Material form register -->
    <form>
      <div class="row">
        <div class="col-sm-12">
          {% if new is defined %}
            <h1 class="showViewTitle center">{{ "New Status"|trans }}</h1>
          {% else %}
            <h1 class="showViewTitle center">{{ "Edit Status"|trans }}</h1>
          {% endif %}
          <hr>
        </div>
        <div class="col-md-6">
          <!-- Material input text -->
          <div class="md-form">
            <i class="fab fa-stack-overflow prefix grey-text"></i>
            {{ form_errors(form.statusName) }}
            {{ form_widget(form.statusName, {'attr': {'id': 'statusName', 'name': 'statusName', 'class': 'form-control', 'aria-label': 'Large', 'aria-describedby': 'inputGroup-sizing-sm' }}) }}
            <label for="statusName" class="font-weight-light">{{ "Status Name"|trans }}</label>
          </div>
        </div>
        <div class="col-md-6 p-5">
          <div class="center">
          <label class="form-control p-2" for="team">{{ "Linked Stock"|trans }}</label>
          <div class="md-form  p-1  m-1 center">

            {{ form_errors(form.stock) }}
            {{ form_widget(form.stock, {'attr': {'id': 'stock', 'name': 'stock', 'class': 'p-3 m-1', 'aria-label': 'Large'}}) }}
          </div>
          </div>
          <div class="form-control p-1  m-1 center">
            <label class="form-control" for="roles">{{ "Type"|trans }}</label>
            {{ form_errors(form.statusType) }}
            <div class="row">
            {% for child in form.statusType %}
            <div class="col-md-3">
              {{ form_label(child) }}
              {{ form_widget(child, { 'attr': {'class': 'form-control text-uppercase', 'name': 'options'}}) }}
            </div>
         {% endfor %}

       </div>
            </div>
          <div class="center p-4">
            <label class="btn btn-success">
              {{ form_widget(form.enabled, {'attr': {'id': 'enabled', 'name': 'enabled','autocomplete': 'off', 'class': 'filled-in form-check-input', 'aria-label': 'Large', 'aria-describedby': 'inputGroup-sizing-sm' }}) }}
              {{ "Enabled"|trans }}
            </label>
          </div>
        </div>
        {{ form_rest(form) }}
        <div class="text-center py-4 mt-3">
          <button class="btn btn-green center" type="submit">{{ button_label|default('Save') }}</button>
        </div>

      </div>
    </form>
    <!-- Material form register -->
    {{ form_end(form) }}
    {% if new is not defined %}
      <div class="float-right">
        {{ include('Admin/Inventory/status/_delete_form.html.twig') }}
      </div>
    {% endif %}
  </div>
  <!-- Card body -->
</div>
