{% extends 'base.html.twig' %}

{% block title %}{{ "Community Center"|trans }}
{% endblock %}

{% block content %}
  <div id="accordion">
    <div id="subMenu" class="card">
      <div class="card-header" id="subMenuHeader">
        {% if is_granted("ROLE_ADMIN") %}
          <a class="btn btn-primary btn-lg" href="{{ path('admin_user_new') }}">{{ "Create new User"|trans }}</a>
          <a class="btn btn-info btn-lg" href="{{ path('team_new') }}">{{ "Create new Team"|trans }}</a>
        {% endif %}
        <a class="btn btn-success btn-md" href="{{ path('user_edit', {'id': app.user.id}) }}">{{ "Edit my Profile"|trans }}</a>
        <div class="float-right">
          <i class="fas fa-arrow-alt-circle-down"></i>
          <a class="m-1 badge badge-dark badge-sm p-2" href="#user-table-content" alt="User Table Content">
            {{ "Go to List"|trans }}
          </a>
        </div>
      </div>
      <div>
        <button class="float-left btn  btn-outline-primary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          {{ "Dashboard"|trans }}
          <i class="fas fa-tachometer-alt"></i>
        </button>
        <button id="showOptionBtn" class="btn btn-info btn-outline-info float-right">
          {{ "Show Options"|trans }}
        </button>
        <button id="hideOptionBtn" class="btn btn-info  btn-outline-info float-right">
          {{ "Hide Options"|trans }}
        </button>
        <h1 class="text-muted text-uppercase center">{{ "Community Center"|trans }}</h1>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="widget">
                  <div class="widget-heading clearfix">
                    <div class="float-left">{{ "Users in Database"|trans }}</div>
                    <div class="float-right">
                      <i class="fas fa-users"></i>
                      100<sup>%</sup>
                    </div>
                  </div>
                  <div class="widget-body clearfix">
                    <div class="float-left">
                      <i class="fas fa-users"></i>
                    </div>
                    <div class="float-right number">250</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="widget">
                  <div class="col-head-green widget-heading clearfix">
                    <div class="float-left">{{ "Users Enabled"|trans }}</div>
                    <div class="float-right">
                      <i class="fas fa-users"></i>
                      80<sup>%</sup>
                    </div>
                  </div>
                  <div class="col-body-green widget-body clearfix">
                    <div class="float-left">
                      <i class="fas fa-thumbs-up"></i>
                    </div>
                    <div class="float-right number">200</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="widget">
                  <div class="col-head-red widget-heading clearfix">
                    <div class="float-left">{{ "Users Restricted"|trans }}</div>
                    <div class="float-right">
                      <i class="fas fa-users"></i>
                      10<sup>%</sup>
                    </div>
                  </div>
                  <div class="col-body-red widget-body clearfix">
                    <div class="float-left">
                      <i class="fas fa-thumbs-down"></i>
                    </div>
                    <div class="float-right number">25</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section id="user-table-content" class="mainContent">
    <div class="container">
      <ul class="nav nav-tabs ">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#users" role="tab">
            <i class="fas fa-users fa-2x m-2"></i>
            {{ "USERS"|trans }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#team" role="tab">
            <i class="fas fa-people-carry fa-2x m-2"></i>
            {{ "TEAM"|trans }}
          </a>
        </li>
      </ul>
      <div class="col-lg-12">
        <input type="search" class="form-control input-search" id="input-search" placeholder="{{ "Search Attendees"|trans }}...">
      </div>
      <div class="tab-content">
        <div id="users" class="tab-pane fade in active show">
          {{ include('Community/user/_user_list.html.twig') }}
        </div>
        <div id="team" class="tab-pane fade">
          {{ include('Community/team/_team_list.html.twig') }}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
