<div class="container white">
  <div class="row">
    <div class="searchable-container row">
      {% for profile in profiles %}
        <div class="items col-md-12 clearfix center">
          <div class="info-block block-info clearfix row">
            <div class="col-sm-12 col-md-5">
              <div class="row center">
                <div class="col-sm-12 col-md-5 center">
                  <div class="center">
                    <span class="square-box fas fa-user fa-2x"></span>
                  </div>
                  <div class="center">
                    {% if profile.enabled == true %}
                      <span class="fs-60-pc badge badge-success badge-sm">{{ "Enabled"|trans }}</span>
                    {% else %}
                      <span class="fs-60-pc badge badge-danger badge-sm">{{ "Disabled"|trans }}</span>
                    {% endif %}
                    {% if profile.restricted == true %}
                      <span class="fs-60-pc badge badge-danger badge-sm">{{ "Restricted"|trans }}</span>
                    {% endif %}
                  </div>
                </div>
                <div class="col-sm-12 col-md-7">
                  <h5>{{ profile.profileName }}</h5>
                    <hr class="m-0 mb-1 p-0">
                  <h4 class="title">{{ profile.firstName }}
                    {{ profile.lastName }}</h4>
                  <h5 class="title">
                    <span class="fas fa-envelope">
                      {{ profile.email }}</span></h5>
                  <h5 class="title">
                    <span class="fas fa-phone">
                      {{ profile.phone }}</span></h5>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <span class="mt-2 badge badge-dark text-uppercase">{{ "Team"|trans}}</span>
              {% if profile.team != null  %}
                <p class="m-1">
                  <i class="fas fa-people-carry m-1"></i>
                  <a href="{{ path('team_show', {'id': profile.team.id}) }}">
                    {{ profile.team.teamName }}</a>
                </p>
              {% else %}
                <p class="m-1">
                  <i class="fas fa-people-carry m-1"></i>{{ 'No Team'|trans }}</p>
              {% endif %}
              {% if profile.user != null %}
              <p class="title">
                {{ "Active User on the ¨Platform"|trans}}
              </p>
              <a class="float-right btn btn-outline-success btn-sm m-1" href="{{ path('user_show', {'id': profile.user.id}) }}">{{ "Show User"|trans }}</a>
              {% for role in profile.user.roles %}
                {% if role == "ROLE_ADMIN" %}
                  <span class="btn btn-outline-danger badge-pill btn-sm p-1">{{ "ADMIN"|trans}}</span>
                {% endif %}
                {% if role == "ROLE_MANAGER" %}
                  <span class="btn btn-outline-success badge-pill btn-sm p-1">{{ "MANAGER"|trans}}</span>
                {% endif %}
              {% endfor %}
              {% endif %}
            </div>
            <div class="col-sm-12 col-md-3 center">
              {% if is_granted("ROLE_ADMIN") %}
              <div class="float-right mt-1">
                {{ include('Admin/Community/profile/_delete_form_list.html.twig') }}
              </div>
                <a class="float-right btn btn-outline-info btn-sm p-1 mt-1" href="{{ path('profile_edit', {'id': profile.id}) }}">{{ "Edit"|trans }}</a>
              {% endif %}
              <a class="float-right btn btn-outline-success btn-sm m-1" href="{{ path('profile_show', {'id': profile.id}) }}">{{ "Show"|trans }}</a>
            </div>
            <div class="col-sm-12 col-md-12">
              <div class="shadowed-2  row d-flex justify-content-center">
                <div class="col-sm-12 col-md-6 float-left media-meta">
                  <i class="p-1 fas fa-calendar"></i>{{ "Created at"|trans }}
                  :
                  {{ profile.CreatedAt ? profile.CreatedAt|date('Y-m-d H:i:s') : '' }}
                </div>
                <div class="col-sm-12 col-md-6 m-left-5 float-left  media-meta">
                  <i class="p-1 fas fa-calendar"></i>{{ "Updated at"|trans }}
                  :
                  {{ profile.UpdatedAt ? profile.UpdatedAt|date('Y-m-d H:i:s') : '' }}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% else %}
        <div>
          <h1>{{ "No Profile found"|trans }}</h1>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
