{% extends 'base.html.twig' %}

{% block title %}Item index{% endblock %}

{% block body %}
    <h1>Item index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ItemRef</th>
                <th>ItemName</th>
                <th>Price</th>
                <th>Owner</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>AddedAt</th>
                <th>Enabled</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.itemRef }}</td>
                <td>{{ item.itemName }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.owner }}</td>
                <td>{{ item.createdAt ? item.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ item.updatedAt ? item.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ item.addedAt ? item.addedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ item.enabled ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('item_show', {'id': item.id}) }}">show</a>
                    <a href="{{ path('item_edit', {'id': item.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('item_new') }}">Create new</a>
{% endblock %}