<div class="container white">
  <div class="row">
    <div id="categories_list" class="searchable-container row">
      {% for category in categories %}
        <div id="heading-cat-{{ category.id }}" class="items col-md-12 clearfix center">
          <div class="info-block block-info clearfix row">
            <div class="{% if category.enabled == false %}disabled{% endif %} col-sm-12 col-md-3 center">
              <div class="center">
                <span class="fas fa-sitemap fa-lg"></span>
                <h5 class="fs-14 bold center text-uppercase">{{ category.categoryName }}</h5>
              </div>
            </div>
            <div class="{% if category.enabled == false %}disabled{% endif %} col-sm-12 col-md-5">
              {% if category.categoryDescription | length > 50 %}
                <h4 class="fs-12 float-left title m-1">
                  <i class="fas fa-info-circle m-1"></i>{{ category.categoryDescription|truncate(50) }}
                </h4>
              {% else %}
                <h4 class="fs-12 float-left title m-1">
                  <i class="fas fa-info-circle m-1"></i>{{ category.categoryDescription }}
                </h4>
              {% endif %}
            </div>
            <div class="col-sm-12 col-md-4 center">
              <div class="float-right mt-0">
                {{ include('Admin/Inventory/category/_delete_form_list.html.twig') }}
              </div>
              <a class="float-right p-1 btn btn-floating btn-outline-success btn-sm mt-0 " href="{{ path('category_show', {'id': category.id}) }}">
                {{ "Show"|trans }}
              </a>
              <a class="float-right p-1 btn btn-floating btn-outline-info btn-sm mt-0" href="{{ path('category_edit', {'id': category.id}) }}">
                {{ "Edit"|trans }}
              </a>
              <div id="heading-cat-{{ category.id }}" class="center">
                <button class="btn-floating fs-60-pc center btn-outline-dark p-1" data-toggle="collapse" data-target="#collapse-cat-{{ category.id }}" aria-expanded="false" aria-controls="collapse-cat-{{ category.id }}">
                  {{ "Sub-Categories"|trans}}
                </button>
              </div>
            </div>
            <div class="col-sm-12 col-md-12">
              <div class="shadowed-2 row d-flex justify-content-center">
                <div class="center col-sm-12 col-md-2">
                  {% if category.enabled == true %}
                    <span class="text-uppercase badge badge-success badge-md m-0">{{ "Enabled"|trans }}</span>
                  {% else %}
                    <span class="text-uppercase badge badge-danger badge-md m-0">{{ "Disabled"|trans }}</span>
                  {% endif %}
                </div>
                <div class="col-sm-12 col-md-5 float-left media-meta">
                  <i class="p-1 fas fa-calendar"></i>{{ "Created at"|trans }}
                  :
                  {{ category.CreatedAt ? category.CreatedAt|date('Y-m-d H:i:s') : '' }}
                </div>
                <div class="col-sm-12 col-md-5 m-left-5 float-left  media-meta">
                  <i class="p-1 fas fa-calendar"></i>{{ "Updated at"|trans }}
                  :
                  {{ category.UpdatedAt ? category.UpdatedAt|date('Y-m-d H:i:s') : '' }}
                </div>
              </div>
            </div>
            <div id="collapse-cat-{{ category.id }}" class="collapse subItemsBlock" aria-labelledby="heading-cat-{{ category.id }}" data-parent="#categories_list">
              <div>
                <div id="subCategories-cat-{{ category.id }}" class="searchable-container tab-pane">
                  <p class="fs-14 float-left text-uppercase">{{ "Sub-Categories"|trans}}</p>
                  {% for sub_category in category.subCategories %}
                    <div id="heading-cat-{{ sub_category.id }}" class="items col-md-10 float-right clearfix center">
                      <div class="info-block block-info clearfix row">
                        <div class="{% if sub_category.enabled == false %}disabled{% endif %} col-sm-12 col-md-3 center">
                          <div class="center">
                            <h5 class="fs-14 bold center">{{ sub_category.subEntityName }}</h5>
                          </div>
                        </div>
                        <div class="{% if sub_category.enabled == false %}disabled{% endif %} col-sm-12 col-md-5">
                          {% if sub_category.subCategoryDescription | length > 50 %}
                            <h4 class="fs-12 float-left title m-1">
                              <i class="fas fa-info-circle m-1"></i>{{ sub_category.subCategoryDescription|truncate(50) }}
                            </h4>
                          {% else %}
                            <h4 class="fs-12 float-left title m-1">
                              <i class="fas fa-info-circle m-1"></i>{{ sub_category.subCategoryDescription }}
                            </h4>
                          {% endif %}
                        </div>
                        <div class="col-sm-12 col-md-4 center">
                          <div class="float-right  mt-0">
                            {{ include('Admin/Inventory/sub_category/_delete_form_list.html.twig') }}
                          </div>
                          <a class="float-right p-1 btn btn-floating btn-outline-success btn-sm mt-0 " href="{{ path('sub_category_show', {'id': sub_category.id}) }}">
                            {{ "Show"|trans }}
                          </a>
                            <a class="float-right p-1 btn btn-floating btn-outline-info btn-sm mt-0" href="{{ path('sub_category_edit', {'id': sub_category.id}) }}">
                              {{ "Edit"|trans }}
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                          <div class="shadowed-2 row d-flex justify-content-center">
                            <div class="center col-sm-12 col-md-2">
                              {% if sub_category.enabled == true %}
                                <span class="fs-60-pc badge badge-success badge-sm">{{ "Enabled"|trans }}</span>
                              {% else %}
                                <span class="fs-60-pc badge badge-danger badge-sm">{{ "Disabled"|trans }}</span>
                              {% endif %}
                            </div>
                            <div class="col-sm-12 col-md-5 float-left media-meta">
                              <i class="p-1 fas fa-calendar"></i>{{ "Created at"|trans }}
                              :
                              {{ sub_category.CreatedAt ? sub_category.CreatedAt|date('Y-m-d H:i:s') : '' }}
                            </div>
                            <div class="col-sm-12 col-md-5 m-left-5 float-left  media-meta">
                              <i class="p-1 fas fa-calendar"></i>{{ "Updated at"|trans }}
                              :
                              {{ sub_category.UpdatedAt ? sub_category.UpdatedAt|date('Y-m-d H:i:s') : '' }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% else %}
                    <br>
                    <h3 class="center title">{{ "No Sub -Category found"|trans }}</h3>
                  {% endfor %}
                </div>

              </div>
            </div>
          </div>
        </div>
      {% else %}
        <div>
          <h3 class="center title">{{ "No Category found"|trans }}</h3>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<caption>{{ "List of Categories & Sub-Categories"|trans }}</caption>
