<!-- Card -->
<div class="card">
  <!-- Card body -->
  <div class="card-body">
    {{ form_start(form) }}
    {{ form_widget(form._token) }}
    {% if not form.vars.valid %}
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <span>
          <strong>{{ form_errors(form) }}</strong>
        </span>
      </div>
    {% endif %}
    <!-- Material form register -->
    <form>
      <div class="row">
        <div class="col-sm-12">
          {% if new is defined %}
            <h1  class="showViewTitle center">{{ "New Category"|trans }}</h1>
          {% else %}
            <h1 class="showViewTitle center">{{ "Edit Category"|trans }}</h1>
          {% endif %}
          <hr>
        </div>
        <div class="col-md-6">
          <!-- Material input text -->
          <div class="md-form">
            <i class="fas fa-people-carry prefix grey-text"></i>
            {{ form_errors(form.categoryName) }}
            {{ form_widget(form.categoryName, {'attr': {'id': 'materialFormCardName1', 'name': 'categoryName', 'class': 'form-control', 'aria-label': 'Large', 'aria-describedby': 'inputGroup-sizing-sm' }}) }}
            <label for="materialFormCardName1" class="font-weight-light">{{ "Category Name"|trans }}</label>
          </div>
          <div class="form-group">
            {{ form_errors(form.categoryDescription) }}
            <label for="description">{{ "Category Description"|trans }}:</label>
            {{ form_widget(form.categoryDescription, {'attr': {'id': 'description', 'rows': '8', 'name': 'description', 'class': 'form-control', 'aria-label': 'Large', 'aria-describedby': 'inputGroup-sizing-sm' }}) }}
          </div>
        </div>
        <div class="col-md-6 p-5">
          <div class="center p-4">
            <div class="form-group">
              {{ form_errors(form.subCategories) }}
              <label for="description">{{ "Sub-Categories"|trans }}:</label>
              {{ form_widget(form.subCategories, {'attr': {'id': 'subCategories', 'name': 'subCategories', 'class': '', 'aria-label': 'Large', 'aria-describedby': 'inputGroup-sizing-sm' }}) }}
              <a href="#" id="add_subcategory" class="btn btn-default">{{ "Add Sub-Catégory"|trans }}</a>
            </div>
          </div>
        </div>
        <div class="text-center py-4 mt-3">
          <label class="btn btn-success">
            {{ form_widget(form.enabled, {'attr': {'id': 'enabled', 'name': 'enabled','autocomplete': 'off', 'class': 'filled-in form-check-input', 'aria-label': 'Large', 'aria-describedby': 'inputGroup-sizing-sm' }}) }}
            {{ "Enabled"|trans }}
          </label>
          <button class="btn btn-green center" type="submit">{{ button_label|default('Save') }}</button>
        </div>
        {{ form_rest(form) }}
      </div>
    </form>
    <!-- Material form register -->
    {{ form_end(form) }}
    {% if new is not defined %}
      <div class="float-right">
        {{ include('Admin/Inventory/category/_delete_form.html.twig') }}
      </div>
    {% endif %}
  </div>
  <!-- Card body -->
</div>
