{% extends 'base.html.twig' %}

{% block title %}{{ "New Category"|trans }}
{% endblock %}

{% form_theme form _self %}

{% block _category_subCategories_entry_widget %}

  <div id="prototype_subcategory" class="row border p-1 mb-0 mt-0 ml-2 mr-2">
    <div class="col-md-5">
      <div class="md-form col-md-12 p-1 mt-3">
        <i class="fas fa-info-circle prefix grey-text ml-0 mr-5"></i>
        {{ form_errors(form.subEntityName) }}
        {{ form_widget(form.subEntityName, {'attr': { 'class': 'md-form-control', 'aria-label': 'Large', 'aria-describedby': 'inputGroup-sizing-lg' }}) }}
        <label for="materialFormCardName1" class="ml-5 font-weight-light">{{ "Sub Category Name"|trans }}</label>
      </div>
      <div class="float-left m-0 p-0">
        <label class="float-right btn btn-success btn-md pt-1 pb-2 pr-2 ">
          {{ form_widget(form.enabled, {'attr': {'id': 'enabled', 'name': 'enabled','autocomplete': 'off', 'class': 'filled-in form-check-input', 'aria-label': 'Large', 'aria-describedby': 'inputGroup-sizing-sm' }}) }}
          {{ "Enabled"|trans }}
        </label>
      </div>
    </div>
    <div class="md-form col-md-6 p-1 ml-0 mr-0 mb-0 mt-3">
      {{ form_errors(form.subCategoryDescription) }}
      {{ form_widget(form.subCategoryDescription, {'attr': { 'class': 'form-control', 'aria-label': 'Large', 'aria-describedby': 'inputGroup-sizing-lg' }}) }}
      <label class="ml-4" for="description">{{ "Sub Category Description"|trans }}:</label>
    </div>
  </div>
{% endblock %}


{% block content %}
{% set new = true %}
{% if is_granted('ROLE_ADMIN')%}
    {{ include('Admin/Inventory/category/_form.html.twig') }}
{% else %}
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <span>
      <strong>{{ "You are not Administrator! You are not allowed to access !"|trans }}</strong>
    </span>
  </div>
{% endif %}
<a class="btn btn-primary btn-lg" href="{{ path('inventory_index') }}">{{ "Back to list"|trans }}</a>

{% endblock %}
