<!-- Card -->
<div class="card">

  <!-- Card body -->
  <div class="card-body">
    {{ form_start(form) }}
    {{ form_widget(form._token) }}
    {% if not form.vars.valid %}
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <span>
          <strong>{{ form_errors(form) }}</strong>
        </span>
      </div>
    {% endif %}
    <!-- Material form register -->
    <form>
      <div class="row">
        <div class="col-sm-12">
          {% if new is defined %}
            <h1 class="h4 text-center py-4">{{ "New Team"|trans }}</h1>
          {% else %}
            <h1 class="h4 text-center py-4">{{ "Edit Team"|trans }}</h1>
          {% endif %}
        </div>
        <div class="col-md-6">
          <!-- Material input text -->
          <div class="md-form">
            <i class="fas fa-people-carry prefix grey-text"></i>
            {{ form_errors(form.teamName) }}
            {{ form_widget(form.teamName, {'attr': {'id': 'materialFormCardName1', 'name': 'teamName', 'class': 'form-control', 'aria-label': 'Large', 'aria-describedby': 'inputGroup-sizing-sm' }}) }}
            <label for="materialFormCardNameEx" class="font-weight-light">{{ "Team Name"|trans }}</label>
          </div>
          <div class="form-group">
            {{ form_errors(form.teamDescription) }}
            <label for="description">{{ "Team Description"|trans }}:</label>
            {{ form_widget(form.teamDescription, {'attr': {'id': 'description', 'rows': '8', 'name': 'firstName', 'class': 'form-control', 'aria-label': 'Large', 'aria-describedby': 'inputGroup-sizing-sm' }}) }}
          </div>
        </div>
        <div class="col-md-6 p-5">
          <div class="center p-4">
            <label class="btn btn-success">
              {{ form_widget(form.enabled, {'attr': {'id': 'enabled', 'name': 'enabled','autocomplete': 'off', 'class': 'filled-in form-check-input', 'aria-label': 'Large', 'aria-describedby': 'inputGroup-sizing-sm' }}) }}
              {{ "Enabled"|trans }}
            </label>
          </div>
        </div>
        {{ form_rest(form) }}
        <div class="text-center py-4 mt-3">
          <button class="btn btn-green center" type="submit">{{ button_label|default('Save') }}</button>
        </div>

      </div>
    </form>
    <!-- Material form register -->
    {{ form_end(form) }}
    {% if new is not defined %}
      <div class="float-right">
        {{ include('Admin/Community/team/_delete_form.html.twig') }}
      </div>
    {% endif %}
  </div>
  <!-- Card body -->
</div>
