{% extends 'base.html.twig' %}

{% block title %}Edit Team{% endblock %}

{% block content %}
  {% if is_granted('ROLE_ADMIN')%}
    {{ include('Admin/Community/team/_form.html.twig', {'button_label': 'Update'}) }}
  {% else %}
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <span>
        <strong>{{ "You are not Administrator! You are not allowed to access !"|trans }}</strong>
      </span>
    </div>
  {% endif %}
  <a class="btn btn-primary btn-lg" href="{{ path('community_index') }}">{{ "Back to list"|trans }}</a>
  <a class="btn btn-dark btn-md" href="{{ path('team_show', {'id': team.id}) }}">{{ "Back to Team Page"|trans }}</a>
  {% if is_granted('ROLE_ADMIN')%}
    <div class="float-right">
      {{ include('Admin/Community/team/_delete_form.html.twig') }}
    </div>
  {% endif %}
{% endblock %}
