<div class="container white">
  <div class="row">
    <div class="searchable-container row">
      {% for team in teams %}
      <div class="items col-md-12 clearfix center">
        <div class="info-block block-info clearfix row">
          <div class="col-sm-12  col-md-2  center">
            <span class="square-box fas fa-people-carry fa-4x"></span>
          </div>
          <div class="col-sm-12 col-md-4">
            <h5>{{ team.teamName }}</h5>
            {% if team.enabled == true %}
            <span class="badge badge-success badge-sm">{{ "Enabled"|trans }} : {{ "Yes"|trans }} </span>
            {% else %}
              <span class="badge badge-danger badge-sm">{{ "Enabled"|trans }} : {{ "No"|trans }} </span>
            {% endif %}
            <p class="media-meta m-1">{{ "Created at"|trans }} : {{ team.CreatedAt ? team.CreatedAt|date('Y-m-d H:i:s') : '' }}</p>
            <p class="media-meta m-1">{{ "Updated at"|trans }} : {{ team.UpdatedAt ? team.UpdatedAt|date('Y-m-d H:i:s') : '' }}</p>
          </div>
          <div class="col-sm-12 col-md-4">
            <span class="badge badge-light text-uppercase">{{ "Description"|trans}}</span>
            {% if team.teamDescription|length > 90 %}
            <p class="m-1"><i class="fas fa-info m-1"></i>{{ team.teamDescription|truncate(90) }}</p>
            {% else %}
            <p class="m-1"><i class="fas fa-info m-1"></i>{{ team.teamDescription }}</p>
            {% endif %}
          </div>
          <div class="col-sm-12 col-md-2 center">
            <a class="btn btn-warning btn-md m-1" href="{{ path('team_show', {'id': team.id}) }}">{{ "Show"|trans }}</a>
            {% if is_granted("ROLE_ADMIN") %}
              <a class="btn btn-info btn-sm m-1" href="{{ path('team_edit', {'id': team.id}) }}">{{ "Edit"|trans }}</a>
            {% endif %}
          </div>
        </div>
      </div>
      {% else %}
        <div>
          <h1>{{ "No Team found"|trans }}</h1>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
