<div class="container white">
  <div class="row">
    <div class="col-lg-12">
      <input type="search" class="form-control" id="input-search" placeholder="{{ "Search Attendees"|trans }}...">
    </div>
    <div class="searchable-container row">
      {% for user in users %}
      <div class="items col-md-12 clearfix">
        {% for role in user.roles %}
        {% if role == "ROLE_ADMIN" %}
        <span class="badge badge-danger badge-pill badge-sm">{{ "ADMIN"|trans}}</span>
        {% endif %}
        {% if role == "ROLE_MANAGER" %}
        <span class="badge badge-success badge-pill badge-sm">{{ "MANAGER"|trans}}</span>
        {% endif %}
        {% endfor %}
        <div class="info-block block-info clearfix row">
          <div class="col-md-2 square-box float-left">
            <span class="fas fa-user fa-4x"></span>
          </div>
          <div class="col-md-3">
            <h5>{{ user.username }}</h5>
            <h4 class="title">{{ user.firstName }} {{ user.lastName }}</h4>
            <h5 class="title"><span class="fas fa-envelope"> {{ user.email }}</span></h5>
            <h5 class="title"><span class="fas fa-phone"> {{ user.phone }}</span></h5>
            {% if user.enabled == true %}
            <span class="badge badge-success badge-sm">{{ "Enabled"|trans }} : {{ "Yes"|trans }} </span>
            {% else %}
              <span class="badge badge-danger badge-sm">{{ "Enabled"|trans }} : {{ "No"|trans }} </span>
            {% endif %}
            {% if user.restricted == true %}
            <span class="badge badge-danger badge-sm">{{ "Restricted"|trans }} : {{ "Yes"|trans }} </span>
            {% else %}
              <span class="badge badge-success badge-sm">{{ "Restricted"|trans }} : {{ "No"|trans }} </span>
            {% endif %}
          </div>
          <div class="col-md-4">
            <span class="badge badge-light text-uppercase">{{ "Team"|trans}}</span>
            <p class="m-1">My Team</p>
            <p class="media-meta m-1">{{ "Created at"|trans }} : {{ user.CreatedAt ? user.CreatedAt|date('Y-m-d H:i:s') : '' }}</p>
            <p class="media-meta m-1">{{ "Updated at"|trans }} : {{ user.UpdatedAt ? user.UpdatedAt|date('Y-m-d H:i:s') : '' }}</p>
          </div>
          <div class="col-md-2 center">
            <a class="btn btn-warning btn-md m-1" href="{{ path('user_show', {'id': user.id}) }}">{{ "Show"|trans }}</a>
            {% if is_granted("ROLE_SUPER_ADMIN") %}
              <a class="btn btn-info btn-sm m-1" href="{{ path('admin_user_edit', {'id': user.id}) }}">{{ "Edit"|trans }}</a>
            {% endif %}
          </div>
        </div>
      </div>
      {% else %}
        <div>
          <h1>{{ "No User found"|trans }}</h1>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
