{% extends 'base.html.twig' %}

{% block title %}{{ "User Index"|trans }}{% endblock %}

{% block content %}
    <h1>{{ "User Index"|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ "USername"|trans }}</th>
                <th>{{ "Firstname"|trans }}</th>
                <th>{{ "Lastname"|trans }}</th>
                <th>{{ "Email"|trans }}</th>
                <th>{{ "Roles"|trans }}</th>
                <th>{{ "Phone"|trans }}</th>
                <th>{{ "Created at"|trans }}</th>
                <th>{{ "Updated at"|trans }}</th>
                <th>{{ "Enabled"|trans }}</th>
                <th>{{ "Restricted"|trans }}</th>
                <th>{{ "Actions"|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles|join(', ') }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.CreatedAt ? user.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.UpdatedAt ? user.UpdatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.enabled ? 'Yes' : 'No' }}</td>
                <td>{{ user.restricted ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">{{ "Show"|trans }}</a>
                    {% if is_granted("ROLE_SUPER_ADMIN") or (user.id == app.user.id) %}
                    <a href="{{ path('user_edit', {'id': user.id}) }}">{{ "Edit"|trans }}</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">{{ "No User found"|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted("ROLE_SUPER_ADMIN") %}
    <a href="{{ path('user_new') }}">{{ "Create new User"|trans }}</a>
    {% endif %}

{% endblock %}
